/* Colors */
$color-white: #ffffff;
$color-black: #000000;
$color-red: rgba(#E63946, 0.85);
$color-red-light: #ff000d;
$color-blue: dodgerblue;
$color-yellow-light: #EBD5AB;
$color-black-light: rgba(#343434,0.8);
$color-subtext: #ABABAB;
$color-green-light: #8FCD80;
$color-green-dark: #4AD727;
$color-grey: #ECECEC;
$color-violet: #7089F4;
$color-orange: #FFC288;
$color-orange-dark: #FF922A;
$color-green-light-2: rgb(0, 191, 136);
$color-green-light-3:  rgb(0, 191, 136);;


$screen-width: 2560px;


// Header
$header-height: 70px;
$header-background: #F1670A;

// Footer
$footer-height: 300px;
$footer-background-color: #272532;
$font-color: #F1F2F2;

$form-width: 350px;



