/* Colors */
$color-white: #ffffff;
$color-black: #000000;
$color-red: rgba(#e63946, 0.85);
$color-red-light: #ff000d;
$color-blue: dodgerblue;
$color-yellow-light: #ebd5ab;
$color-black-light: rgba(#343434, 0.8);
$color-subtext: #ababab;
$color-green-light: #8fcd80;
$color-green-dark: #4ad727;
$color-grey: #ececec;
$color-violet: #7089f4;
$color-orange: #ffc288;
$color-orange-dark: #ff922a;
$color-green-light-2: rgb(0, 191, 136);
$color-green-light-3: rgb(0, 191, 136);

$screen-width: 2560px;

// Header
$header-height: 70px;
$header-background: #f1670a;

// Footer
$footer-height: 300px;
$footer-background-color: #272532;
$font-color: #f1f2f2;

$form-width: 350px;

// Class Detail
$class-font-size: 30px;
$color-light-green: #137333;
